
<h3>Add etudiant</h3>
<form (ngSubmit)="onAjouter()" [formGroup]="form">
    <div>
        <input [style.border]="cneInput.errors? '4px solid red' : '4px solid green'" [formControl]="cneInput" type="text" placeholder="CNE">
        <span *ngIf="cneInput.errors?.required">obligatoire</span>
        <span *ngIf="cneInput.errors?.minlength || cneInput.errors?.maxlength">longueur de 10</span>
        <input [formControl]="nomInput"  value="ok" type="text" placeholder="nom">
        <input [formControl]="prenomInput" type="text" placeholder="prenom">
        <input  [formControl]="dateNaissanceInput" type="date" placeholder="date de naissance">
    </div>
    <button [disabled]="!form.valid" type="submit">Ajouter</button>
</form>
<button (click)="teste()">t</button>
